<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yx.mapper.DriverInfoMapper">
    <resultMap id="d" type="driverQuery">
        <id property="did" column="did"/>
        <result property="dtype" column="dtype"/>
        <result property="pid" column="pid"/>
        <association property="person" javaType="person">
            <id property="pid" column="pid"/>
            <result property="pname" column="pname"/>
            <result property="page" column="page"/>
        </association>
    </resultMap>
    <resultMap id="d2" type="driverQuery" autoMapping="true">
        <association property="person" javaType="person" autoMapping="true">
        </association>
    </resultMap>
    <select id="selectList" resultMap="d2">
        select *
        from person p
                 join driverinfo d on p.pid = d.pid;
    </select>
</mapper>